# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change_me

# Odoo
ODOO_HOST=db
ODOO_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

# Ports
ODOO_PORT_EXTERNAL=8069
PGADMIN_PORT_EXTERNAL=5050
